@model List<Shop.Models.PerchaseModel>
<h1>Items</h1>
<br />
@foreach (var item in Model)
{
    string path = "~/Images/" + item.Image + ".png";

    <form asp-controller="Home2" asp-action="@item.Page" >
        <div>
            <img src="@path" width="80" asp-append-version = "true" />
            @item.Name @item.Brend
            <button type="submit" class="btn btn-primary">Buy</button>
        </div>
        <br />
    </form>

}































<!--
    <ul>



@foreach (var item in Model)
{
                    <form asp-area="" asp-controller="Home2" asp-action="Buy">
                    <li>
                        <img width="50" src="@item.Image">
            @item.Brend
            @item.Name
            @item.Price



                    </li>
                    <Buttom class="btn btn-primary">Buy</Buttom>

                    </form>

}
</ul>
-->
