@model List<Shop.Models.PurchaseModel>

<div class="container mydiv">
    <div class="row">
        @foreach (var item in Model)
        {


            var random = new Random();
            int sold = random.Next(1, 100);
            int AvalibleNow = random.Next(1, 50);
            string path = "~/Images/" + item.Image + ".png";

            <div class="col-md-4">
                <!-- bbb_deals -->
                <form asp-controller="Home2" asp-action="@item.Page">
                    <button type="submit" class="bg-white">
                        <div class="bbb_deals">
                            @if (item.Discount > 0)
                            {

                                <div class="ribbon ribbon-top-right "><span>@item.Discount% OFF</span></div>

                                <div class="bbb_deals_title bb-db1 ">Today's Best Offer</div>
                            }


                            <div class="bbb_deals_slider_container">
                                <div class="bbb_deals_item">
                                    <div class="bbb_deals_image bb-db1"><img src="@path" asp-append-version="true" alt=""></div>
                                    <div class="bbb_deals_item_category"><a href="#">@item.Type</a></div>
                                    <div>@item.Brend @item.Name</div>
                                    <div class="bbb_deals_content">
                                        <div class="bbb_deals_info_line d-flex flex-row justify-content-start">


                                            @if (item.Discount > 0)
                                            {
                                                <div class="bbb_deals_item_category"><a href="#">Old Price</a></div>
                                                double dis = (item.Price / 100) * item.Discount;
                                                string[] ArrMinMaxPrice = item.MinMaxPrice.Split('-');
                                                string PrivPrice = "";
                                                double MinPrice;
                                                double MaxPrice;

                                                if (ArrMinMaxPrice.Count() == 1)
                                                {
                                                    PrivPrice = Math.Round(double.Parse(ArrMinMaxPrice[0]) + dis).ToString();
                                                }
                                                if (ArrMinMaxPrice.Count() == 2)
                                                {
                                                    double dis1 = (double.Parse(ArrMinMaxPrice[0]) / 100) * item.Discount;
                                                    double dis2 = (double.Parse(ArrMinMaxPrice[1]) / 100) * item.Discount;

                                                    MinPrice = Math.Round(double.Parse(ArrMinMaxPrice[0]) + dis1);
                                                    MaxPrice = Math.Round(double.Parse(ArrMinMaxPrice[1]) + dis2);
                                                    PrivPrice = MinPrice.ToString() + "-" + MaxPrice.ToString();

                                                }

                                                <div class=" ml-auto">   @PrivPrice $</div>
                                            }

                                        </div>  
                                        <br />
                                        <div class="bbb_deals_info_line d-flex flex-row justify-content-start">
                                            <div class="bbb_deals_item_name">Current price  </div>
                                            @if (item.Discount > 0)
                                            {
                                                <div class="bbb_deals_item_price ml-auto">
                                                    <div>   @item.MinMaxPrice $ </div>
                                                </div>
                                            }
                                            @if (item.Discount == 0)
                                            {
                                                <div class="ml-auto">
                                                    <div>   @item.MinMaxPrice $ </div>
                                                </div>
                                            }
                                            
                                            
                                        </div>
                                        <div class="available">
                                            <div class="available_line d-flex flex-row justify-content-start">
                                                <div class="available_title">Available: <span>@AvalibleNow</span></div>
                                            </div>
                                            <div class="sold_title ml-auto">Already sold: <span>@sold</span></div>
                                            <div class="available_bar"><span style="width:17%"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </button>
                </form>
            </div>


        }


    </div>
</div>

