@model WeatherModel
<h1 class="text-center bb-db1">@Model.Location.Country</h1>
<div>
    <div>
        <h2 class="text-center">
            @Model.Location.Name
            <a class="btn btn-primary" asp-controller="WeatherForecast" asp-action="ChooseYoutCity">
                <img src="~/Images/Icons/edit.png" width="20" />
            </a>
        </h2>
        <div class="text-center">
            <h3>@Model.Location.Localtime </h3>
            <img class="text-center align-content-center" src="@Model.Current.Condition.Icon" />
        </div>
        <div class="text-center">
            <h3>@Model.Current.Condition.Text</h3>
        </div>
        <div class="text-center">
            <h2>@Model.Current.TempC °C</h2>
        </div>
        <div class="text-center">
            <div>
                <h4> Feels like @Model.Current.FeelslikeC °C</h4>
            </div>
            <div>
                <h4>
                    Humidity: @Model.Current.Humidity °C
                </h4>
            </div>
        </div>

    </div>
</div>


<div class="bb-db1">
    @foreach (var item in Model.Forecast.Forecastday)
    {
        <img src="@item.Day.Condition.Icon" />
        <div>
            <label>@item.Date</label>
            <label>@item.Day.Condition.Text</label>
        </div>
        <label> Daily Chance Of Rain: @item.Day.DailyChanceOfRain %</label>
        <div>
            <label> Min @item.Day.MintempC °C</label>
            <label> Max @item.Day.MaxtempC °C</label>
        </div>
        <br />

    }
</div>
